include modules/head
body
  h1.align-center.cntr Спасибо, #{name}, что написали свое важное мнение
  h5.align-center.cntr Оно безусловно будет принято во внимание нашими экспертами
  p.align-center.cntr Хотя я бы еще подумал над этим пунктом
  div.align-center.cntr: small: small: small Что я тут делаю?
  div.align-center.cntr: small: small: small: small: small Ты кто? Свали отсюда!
  include modules/scripts